
.container {
    padding-bottom: 36px;
}

#langs {
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
    right: 25px;
    top: 10px;
}

.icon-pin:before {
    content: '';
}

#langs {
    -pie-background: #4da4f3 url(/img/icons/pin_32x32.png) no-repeat fixed 50% 10%;
}

.lt-ie8 #langs li {
    padding: 0 5px;
}

.page-header {
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
    border-radius: 50%;
    border-width: 5px;
    height: 360px;
    width: 360px;
    position: relative;
    z-index: 2;
}

.page-header nav { float: none; }

.page-header .page-description {
    margin: 24px 0 0 115px;
    max-width: 190px;
}

.page-header .icons-navigation {
    border-bottom: 2px solid #fff;
    margin: 35px 0 0 120px;
}


.page-header .icons-navigation li {
    display: inline-block;
}

.lt-ie8 .page-header .icons-navigation li {
    display: inline;
}

#page-index {
    background-image: url(/img/index.jpg);
    background-position: 60px 140px;
}

.lt-ie8 #page-index {
    background-position: 60px 65px;
}

#page-index .index-nav {
    border-top: none;
    height: 220px;
    margin: 0 0 0 -48px;
    width: 300px;
    border-radius: 0 0 50% 50%;
    position: relative;
    z-index: 2;
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
}

.lt-ie8 #page-index .index-nav {
    margin-top: -95px;
}

#page-index .index-nav ul {
    margin: 10px 0 0 40px;
    padding: 0 0 0 20px
}

.lt-ie8.lt-ie9 #page-index .index-nav ul {
    margin-left: 50px;
}

#page-index .teaser {
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
    border-radius: 50%;
    border-width: 5px;
    float: right;
    height: 295px;
    margin: 0 70px 0 0;
    padding-bottom: 0;
    width: 315px;
    position: relative;
    z-index: 12;
}

.lt-ie9 #page-index .teaser {
    -pie-background: #4DA4F3 url(/img/icons/morshin-logo.png) no-repeat 50% 85%;

}

#page-index .teaser-header {
    margin-top: 27px;
}

#page-index .teaser-text {
    width: 296px;
}

#page-index .wellcome {
    -pie-background: rgba(229, 229, 229, 0.7);
    padding: 15px 20px 15px 30px;
    text-indent: 30px;
    position: relative;
    z-index: 10;
    width: 100%;;
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
}

.lt-ie9 #page-index .wellcome {
    margin-top: 387px;
}

.lt-ie8 #page-index .wellcome {
    margin-top: 0;
    width: 95%;
}

#page-index .massages-list {
    margin-top: 50px;
}

#page-location {
    background: url(/img/location-bg.jpg) no-repeat 170px 0;
    margin-top: 65px;
}

#page-location .locations-list {
    padding-top: 40px;
}

#page-location .locations-list figure {
    float: left;
    width: 250px;
}

#page-location .locations-list figure img {
    behavior: url(/css/PIE-2.0beta1/PIE.htc);
}

#page-location .locations-list dl {
    margin-left: 250px;
}

#page-location .locations-list dt {
    float: left;
    text-align: right;
}

#page-location .locations-list dd {
    padding-left: 66px;
}

#page-location .locations-list .location-title {
    margin-top: 0;
}

#page-about {
    background: url(/img/about.jpg) no-repeat 206px 0;
    padding-top: 80px;
}

#page-about .page-header {
    float: left;
    margin-bottom: 0;
}

.page-header .icons-navigation a.active {
    background: none;
}

#page-about .about {
    margin-top: 308px;
    padding-top: 55px;
    text-indent: 45px;
}


.lt-ie8 .icon-home {
    background: url(/img/icons/home_32x32.png) no-repeat;
}

.lt-ie8 .icon-info,
.lt-ie8 .page-header .icons-navigation .icon-info.active {
    background: url(/img/icons/info_32x32.png) no-repeat;
}

.lt-ie8 .icon-target,
.lt-ie8 .page-header .icons-navigation .icon-target.active {
    background: url(/img/icons/target_32x32.png) no-repeat;
}

.lt-ie8 .index-nav .icon-info,
.lt-ie8 .index-nav .icon-home,
.lt-ie8 .index-nav .icon-target {
    padding-left: 38px;
}

.lt-ie9 #page-index .index-nav li {
    width: inherit;
}

.lt-ie8 #page-index .index-nav li {
    width: 180px;
}

.massage-icon-1 {
    background-position-y: 15%;
}

.lt-ie8 .massage-icon-1 { background-image: url(/img/icons/massage-1.png); }
.lt-ie8 .massage-icon-2 { background-image: url(/img/icons/massage-2.png); }
.lt-ie8 .massage-icon-3 { background-image: url(/img/icons/massage-3.png); }
.lt-ie8 .massage-icon-4 { background-image: url(/img/icons/massage-4.png); }
.lt-ie8 .massage-icon-5 { background-image: url(/img/icons/massage-5.png); }
.lt-ie8 .massage-icon-6 { background-image: url(/img/icons/massage-6.png); }
