//
// Scaffolding
// --------------------------------------------------

*, *:after, *:before {
  .border-box();
}


// Body reset
// -------------------------

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling : touch;
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%;
}


body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;

  @media(max-width: @screen-md-max) {
    font-size: 20px;
  }

  @media(max-width: @screen-360-max) {
    font-size: 18px;
  }
  
  @media (max-width: 320px) {
    font-size: 16px;
  }

}


// Links
// -------------------------

a {
  color: @linkColor;
}
a:hover {
  color: @linkColorHover;
}

// Remove the blue Webkit background when element is tapped
a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


// Images
// -------------------------

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  display: inline-block;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Rounded corners
.img-rounded {
  .border-radius(6px);
}


//
// Browse Happy prompt
// -------------------------

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
