//
// Variables
// ---------------------------


@max-site-width: 1170px;

// Colors
//----------------------------
@white:                 #fff;
@whiteTranslucent:      #94c8f8;
@black:                 #000;
@grey:                  #222;
@lightGrey:             #777;
@greyTranslucent:       #e5e5e5;
@lightBlue:             #4da4f3;
@lightBlueTranslucent:  #68b2f5;


// Base
//----------------------------
@bodyBackground:        #dddede;
@textColor:             @grey;


// Links
// --------------------------
@linkColor:             @grey;
@linkColorHover:        @grey;


// Typography
// -------------------------
//@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
//@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
//@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
@bauhausCFontFamily:   "BauhausC", Georgia, serif;
@ambassadoreTypeFontFamily: "AmbassadoreType", Arial, sans-serif;


@baseFontSize:          22px;
@baseLineHeight:        26px;
@baseFontFamily:        @bauhausCFontFamily;
@altFontFamily:         @ambassadoreTypeFontFamily;
@baseTextShadow:        1px 1px 5px #757575;

@langsFontSize:         1.090909090909091em; // 24px/22px
@langsLineHeight:       541%; // 130px/24px * 100

@massages-list-margin-left: 20.85470085470085%; // 244/1170 * 100
@massages-list-add-margin-left: 8.928571428571429%; // 50px/960px * 100

@page-about-margin-right: 4.166666666666667%; // 40/960 * 100
@page-about-margin-left: 5.729166666666667%; // 55/960 * 100
@page-about-horizontal-padding: 3.333333333333333%; // 30/900 * 100


// Media queries breakpoints
// --------------------------------------------------

@screen-360-min:             360px;

// Extra small screen / phone
@screen-xs-min:              480px;

// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:              992px;

@screen-1024-min:           1024px;

// Large screen / wide desktop
@screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-360-max:             (@screen-xs-min - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);