//
// Pages styles
//---------------------------

// Index page
// --------------------------
#page-index {

  .index-nav {
    ul {
      margin: 10px 0 0 10px;
      padding: 0 0 10px 20px;
    }

    li {
      margin: 5px 0;
      width: 200px;
    }

    a {
      &:before {
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        padding-top: 5px;
        text-align: center;
        width: 56px;

        .ie7-inline-block();
      }
    }
  }


  .wellcome {
    color: @grey;
    font: 1em/1.363636363636364em @baseFontFamily; // line-height: 30/22
    margin-top: 2px;
    padding: 7px 10px 10px;
    text-indent: 20px;

    @media (max-width: @screen-360-max) {
      padding: 7px 0 0;
    }

    @media (max-width: @screen-sm-max) {
      padding: 15px 5px;
      text-indent: 30px;
    }
  }

  .massages-types {
    dt {
      color: #222;
      float: left;
      font: 1.818181818181818em @altFontFamily; // 40/22
      margin-left: @massages-list-margin-left;
      padding: 5px 10px 0 0;
      width: 100%;

      @media (max-width: @screen-xs-max) {
        margin-top: 150px;
        text-align: center;
        .resetSides();
      }
    }

    dd {

      color: @lightGrey;
      font: 1em/1.363636363636364em @baseFontFamily; // line-height: 30/22
      margin-bottom: 30px;
      padding-left: @massages-list-margin-left;
      min-height: 144px;
      position: relative;
      margin-left: 0;

      &:before {
        background: url(../img/massage-types-sprites.png);
        content: '';
        display: block;
        left: 50px;
        position: absolute;
        top: 5px;
        .size(144px, 144px);

        @media (max-width: @screen-sm-max) {
          left: 0;
        }


        @media (max-width: @screen-xs-max) {
          left: 50%;
          margin-left: -72px;
        }
      }

      @media (max-width: @screen-xs-max) {
        padding-top: 150px;
        text-align: center;
        .resetSides();
      }

      h2 {
        color: @black;
        font: 1.090909090909091em @altFontFamily; // 24/22
        margin-bottom: 6px;

        &.hidden {
          .hidden;
        }
      }

      h2 + ul {
        margin-top: 6px;

        &.hidden {
          .hidden;
        }

        li {
          font-size: 0.9090909090909091em; // 20/22
          line-height: 1.1em; // 22/20
          margin-bottom: 10px;
        }
      }

      .hide-details {
        cursor: pointer;
        margin-top: -10px;

        &.hidden {
          .hidden;
        }
      }

      .read-more {
        cursor: pointer;

        &.hidden {
          .hidden;
        }
      }

    }

    dd+dd:before {
      background: url(../img/massage-types-sprites.png);
    }

    .treatment:before {
      background-position: 0px 0px;
    }

    .classic:before {
      background-position: 0 -576px;
    }

    .universal:before {
      background-position: 0 -862px;
    }
    
    .head:before {
      background-position: 0 -719px;
    }

    .vacuum:before {
      background-position: 0px -144px;
    }

    .stone:before {
      background-position: 0px -287px;
    }

    .cellulite:before {
      background-position: 0px -431px;
    }
    
    .honey:before {
      background-position: 0 -1004px;
    }

    .chocolate:before {
      background-position: 0 -1146px;
    }

    .cellulite-wrap:before {
      background-position: 0 -1289px;
    }

    .cupping:before {
      background-position: 0 -1432px;
    }

    .seaweed-wraps:before {
      background-position: 0 -1575px;
    }

    .relax:before {
      background-position: 0 -1718px;
    }

    .lymphatic:before {
      background-position: 0 -1861px;
    }

  }

  /* 360px */
  @media (max-width: @screen-360-max) {
    background-position: 0 180px;

    .index-nav ul { padding: 0; }
    .massages-list dt { font-size: 32px; }
    .teaser { margin-top: 212px; }
  }


  /* Landscape phones and down - 480px */
  @media (max-width: @screen-xs-max) {

    #page-index .wellcome {
      border-left: 2px solid @white;
      border-right: 2px solid @white;
    }
  }

  /* Portrait tablet to landscape and desktop - 768px */
  @media (min-width: @screen-sm-min) {

    .index-nav {
      margin: -95px 0 0 -42px;
      .size(350px, 350px);

      ul {
        margin: 110px 0 0 30px;
        padding: 0 0 0 40px
      }
    }

    .teaser {
      border-width: 5px;
      float: right;
      margin: 0 70px 0 0;
      padding-bottom: 0;

      .border-radius(50%);
      .size(295px, 315px);
    }

    .teaser-header {
      margin-top: 27px;
    }

    .teaser-text {
      width: 296px;
    }

    .massages-list {
      margin-top: 50px;
    }
  }

}


#page-location {
  background: #fbfbfb;
  border-top: solid 2px #D9D9D9;
  padding-top: 20px;
  padding-bottom: 30px;

  h1:before {
    font-size: 1.5em;
  }

  .simple-text {
    margin-top: 16px;
    text-indent: 0;
  }

  .locations-list {
    list-style: none;

    @media (max-width: @screen-360-max) {
      padding-left: 10px;
    }

    @media (min-width: @screen-1024-min) {
      margin-left: 40px;
    }

    li {
      margin: 20px 5px 30px;
      .horizontal-gradient(#fff, 75%, #fbfbfb, 100%);


      @media (max-width: @screen-360-max) {
        margin: 10px 5px;
      }
    }

    figure {
      background: @white;
      display: inline-block;
      margin-right: 20px;
      padding: 8px;
    }

    .location-title {
      color: @grey;
      font: bold 1.181818181818182em/0.9230769230769231em @baseFontFamily; // font-size: 26/22 line-height: 24/26
      margin: 20px 0 10px;

      @media (max-width: @screen-xs-max) {
        margin-bottom: 5px;
      }
    }

    dl {
      margin-top: 10px;

      @media (max-width: @screen-xs-max) {
        margin-top: 5px;
      }
    }

    dt, dd {
      color: @grey;
      font: 1em/1.363636363636364em @baseFontFamily;
    }

    dt {
      overflow: hidden;
      padding-right: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      margin-left: 20px;
    }

    dd:before, dd:after {
      content: " ";
      display: table;
    }

    .location-actions-wrapper {
      color: #1f8b8a;
      font-size: 0.8181818181818182em; // 18/22
      margin: 8px;
    }

    .find-on-map, .view-photos {
      color: #1f8b8a;
      cursor: pointer;
      font-family: @baseFontFamily;
      line-height: 1.444444444444444em; // 26/18
      margin-left: -6px;
    }

  }


  @media (min-width: @screen-sm-min) {

    .locations-list {
      padding-top: 10px;

      figure {
        float: left;
        width: 250px;
      }

      dl {
        margin-left: 250px;
      }

      dt {
        float: left;
        text-align: right;
      }

      dd {
        padding-left: 66px;
      }

      .location-title {
        margin-top: 6px;
      }
    }
  }

}

// Google maps viewer

.overlay {
  left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 15;
}

.hide {
  display: none;
}

.close-button {
  background: #ddd;
  color: #000;
  cursor: pointer;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
  z-index: 10;

  .border-radius(0 0 0 3px);
}

#expander {
  border: 3px solid #eee;
  box-shadow: 2px 2px 8px #666;
  height: 80%;
  left: 10%;
  position: fixed;
  top: 10%;
  width: 80%;
  z-index: 10;

  .border-radius(6px);

  .close {
    right: 0;
    top: 0;
    .close-button();
  }
}


#photo-expander {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .close {
    right: 10px;
    top: 10px;
    .close-button();
  }

  .image-viewer {
    text-align: center;
    img {
      box-shadow: 0 0 10px @black;
    }
  }

  .images-list {
    text-align: center;

    ul {
      display: inline-block;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
      display: block;
      outline: none;
    }

    img {
      border: 2px solid @white;
      border-radius: 50%;
      box-shadow: 0 0 10px @black;
      height: 70px;
      width: 70px;
    }
  }


}

.preload {
  background: url(../img/preloader.gif) no-repeat 50% 50%;
}

#page-about {

  background: url(/img/about.jpg) no-repeat 100% 100% #f6f6f6;
  border-top: solid 2px #D8D8D8;
  padding-top: 15px;
  padding-bottom: 134px;

  @media (max-width: @screen-sm-max) {
    padding-bottom: 120px;
    .background-size(60%);
  }

  @media (max-width: @screen-xs-max) {
    background: #f6f6f6;
    padding-bottom: 0;
  }

  .simple-text {
    font-size: 1em;
    line-height: 1.363636363636364em;
    margin-top: 16px;
  }

  .contacts-header, .contacts-details, .slogan {
    font: 1em/1.636363636363636em @baseFontFamily;
    margin: 0 @page-about-margin-right 0 @page-about-margin-left;
    padding: 0 @page-about-horizontal-padding;
  }


  h2 {
    padding-top: 36px;

    &:before {
      margin-right: 5px;
    }
  }

  .contacts-details {
    list-style: none;
    padding-left: 80px;

    @media (max-width: @screen-360-max) {
      padding-left: 20px;
    }
  }

  .slogan {
    padding-top: 5px;
    padding-bottom: 30px;
    margin: 0 4.166666666666667% 0 5.729166666666667%;
  }

  @media (max-width: @screen-xs-max) {

    .about, .contacts-header, .contacts-details, .slogan {
      margin: 0 0 0 @massages-list-add-margin-left;
    }
  }

  @media (max-width: @screen-360-max) {
    .about, .contacts-header, .contacts-details, .slogan {
      margin-left: 0;
    }
  }

  @media (min-width: @screen-sm-min) {

    .about {
      margin-top: 308px;
      padding-top: 55px;
      text-indent: 45px;
    }
  } // @media

} // #page-about

.copyright {
  display: none;

  @media (min-width: @screen-md-min) {
    background: #ffffff;
    display: block;
    bottom: 0;
    font-size: 16px;
    position: absolute;
    padding: 8px 80px 14px 120px;

    .horizontal-gradient(#fff, 80%, #f6f6f6, 100%);
  }
}

#page-about > .container > p,
#page-about > .container > h2,
#page-about > .container > ul,
#page-location > .container dt,
#page-location > .container dd
{
  white-space: normal;
}
