//
// Site styles
//---------------------------

.main-container {
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: @max-site-width;
  position: relative;
  width: 100%;
  .center-block();
  .text-overflow();


  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


.page {
  padding: 0 15px 15px;
  width: 100%;
  white-space: normal;
}

h1 {
  margin-bottom: 16px;
  margin-left: @massages-list-add-margin-left;

  @media (max-width: @screen-360-max) {
    margin-left: 0;
  }
}

.contacts-massages-list {
  margin-left: @massages-list-add-margin-left;
}

.simple-text {
  font-size: 1.090909090909091em; // 24/22
  line-height: 1.166666666666667em; // 28/24
  margin-left: @massages-list-add-margin-left;

  @media (max-width: @screen-360-max) {
    margin-left: 0;
  }
}

#langs {
  display: inline-block;
  float: right;
  margin-left: 5px;
  width: 50px;
  .ie7-inline-block();

  @media (max-width: @screen-xs-min) {
    margin: 15px 0 0;
    width: auto;
  }

  @media (max-width: 320px) {
    margin: 10px 0 0;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: @screen-360-max) {
      text-align: center;
    }
  }

  li {
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    display: block;
    .size(32px, 32px);

    @media (max-width: 320px) {
      margin: 0 3px;
      display: inline-block;
      .ie7-inline-block();
    }
  }

  li, a {
    color: @white;
    font: bold 12px/28px @baseFontFamily;
    text-align: center;
  }

  .flag-ukr {
    .vertical-gradient(#3A75C4, 50%, #F9DD16, 50%);
  }

  .flag-rus {
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 33%, #0000FF 33%, #0000FF 66%, #FF0000 66%);     /* IE10+ */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 33%, #0000FF 33%, #0000FF 66%, #FF0000 66%);    /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 33%, #0000FF 33%, #0000FF 66%, #FF0000 66%);      /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(33, #FFFFFF), color-stop(33, #0000FF), color-stop(66, #0000FF), color-stop(66, #FF0000));     /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 33%, #0000FF 33%, #0000FF 66%, #FF0000 66%); /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 33%, #0000FF 33%, #0000FF 66%, #FF0000 66%);   /* W3C Markup */
  }

  a {
    line-height: 30px;
  }

  li {
    margin: 5px 5px 5px 6px;
  }

  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }

}

#logo {
  display: inline-block;
  float: left;

  .ie7-inline-block();

  h1 {
    background: url(/img/logo.png) no-repeat 0 10px;
    float: left;
    margin: 0;

    .hide-text();
    .size(90px, 90px);

  }

  .slogan {
    color: #777;
    font-size: 0.9090909090909091em; // 20/22
    margin-left: 100px;

    strong {
      color: #333;
      display: block;
      font-size: 3.25em; // 65/20
      margin: 22px 0 15px;
    }
  }
}

header {
  margin: 5px 12px;
  padding: 10px;

  @media (min-width: @screen-sm-min) {
    background: none;
  }

  @media (min-width: @screen-sm-max) {
    background: url(/img/head-min.jpg) 50% 100% no-repeat;
  }

  @media(min-width: @screen-lg-min) {
    background: url(/img/head.jpg) 50% 100% no-repeat;
  }

  @media (max-width: 650px) {
    font-size: 18px;
  }

  .call-us {
    color: #777;
    display: inline-block;
    float: right;
    text-align: right;
    .ie7-inline-block();

    @media (max-width: 590px) {
      display: none;
    }

    .phone-number {
      color: #FFAE00;
      display: block;
      font-size: 1.636363636363636em; // 36/22
      font-weight: bold;
      margin: 10px 0;
      
      @media (max-width: 650px) {
        margin: 2px 0;
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 25;
}

nav {
  background: #fff;
  border-top: 1px solid #e4e3e3;
  margin: 0;
  position: relative;
  z-index: 5;
  .box-shadow(3px 4px 24px 0px rgba(0, 0, 0, 0.07));

  @media (max-width: @screen-sm-max) {
    border-top: 2px solid @white;
    margin-top: 5px;
    width: 100%;
  }

  .menu-button {
    background: #3d80b1;
    border-radius: 5px;
    color: @white;
    display: none;
    font: 18px/32px @baseFontFamily;
    height: 40px;
    padding: 5px 10px;
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 10;

    &.visible {
      display: block;
    }
  }

  ul {
    height: 60px;
    margin: 0 auto;
    padding: 0;
    width: 50%;

    @media (max-width: @screen-sm-max) {
      height: 46px;
      margin: auto;
      width: 80%;
    }

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  li {
    border-right: 1px solid #e4e3e3;
    float: left;
    list-style: none;
    width: 33%;

    .transition(0.3s all ease);

    &:first-child {
      border-left: 1px solid #e4e3e3;
    }

    &:hover {
      background: #269b9e;
      border-color: #269b9e;
    }

    @media (max-width: @screen-xs-max) {
      &:last-child {
        border-right: none;
      }
    }

  }

  a {
    color: #3E3E3E;
    display: block;
    font: 1.25em/60px @baseFontFamily; // 30/24
    margin: 0 20px 0 26px;
    outline: none !important;
    text-align: center;
    text-decoration: none;
    .transition(0.3s all ease);

    &:hover {
      color: @white;
    }

    @media (max-width: @screen-sm-max) {
      height: 46px;
      line-height: 46px;
    }

    @media (max-width: @screen-xs-min) {
      font-size: 1.090909090909091em;
    }

    @media(max-width: @screen-360-min) {
      font-size: 0.8181818181818182em;
    }

    @media (max-width: @screen-1024-min) {
      font-size: 1.272727272727273em; // 28/22
      margin: 0;
    }

  }

}

.slogan-box {
  float: left;
  width: 48%;

  h1 {
    color: @white;
    font: 2.090909090909091em @altFontFamily; // 46/22
    margin: 0 0 0 6px;
  }
  .slogan {
    color: @white;
    font: 1em/18px @baseFontFamily;
    margin: 4px 0 0;

    @media (max-width: @screen-sm-max) {
      font-size: 0.9090909090909091em;
    }
  }

  @media (max-width: @screen-1024-min) {
     line-height: 20px;
  }

  @media (max-width: @screen-sm-min) {
    float: none;
    width: 100%;

    h1 {
      margin-top: -34px;
      margin-left: 0;
      text-align: center;
      width: 100%;
    }

    .slogan {
      font-size: 0.8181818181818182em;
      margin-top: 0;
      text-align: center;
    }
  }

  @media (max-width: @screen-xs-min) {
    .slogan {
      font-size: 0.7272727272727273em;
    }
  }

  @media (max-width: @screen-360-max) {
    h1 {
      margin-top: 0;
    }
  }

  @media (max-width: @screen-360-min) {
    h1 {
      margin-top: 0;
      font-size: 1.636363636363636em;
    }

    .slogan {
      white-space: normal;
    }
  }

}

/* Large desktop - 1200px */
@media (min-width: @screen-lg-min) {

}

// 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

