<section id="page-about" class="page">

    <div class="container animation-ready" data-animation-name="zoomIn">

        <h1>O нас</h1>

        <p class="simple-text">
            В нашем центре работают только лучшие специалисты и признанные мастера своего дела. С клиентами работают только дипломированные массажисты-реабилитологи, которые ежегодно подтверждают высокий уровень квалификации. Опыт работы в курортной зоне Моршина более 10 лет, разработана своя уникальная методика лечебного массажа. Обратившись к нам, можете гарантированно рассчитывать на все доступные виды массажа, в том числе:
        </p>

        <ul class="contacts-massages-list">
            <li>Лечебный массаж</li>
            <li>Классический массаж</li>
            <li>Общий массаж всего тела</li>
            <li>Массаж головы</li>
            <li>Вакуумный массаж</li>
            <li>Баночный массаж</li>
            <li>Стоун-массаж (массаж горячими камнями)</li>
            <li>Медовый массаж</li>
            <li>Массаж горячим шоколадом</li>
            <li>Антицеллюлитный массаж</li>
            <li>Антицеллюлитное обертывание</li>
            <li>Обертывание морскими водорослями</li>
            <li>Релакс-массаж</li>
            <li>Лимфодренажный массаж</li>
        </ul>

        <p class="simple-text">
            Высокий уровень обслуживания и многолетний опыт работы не оставил равнодушным ни одного клиента нашего массажного центра. Лучшее оборудование и высококлассные специалисты работают в замечательном тандеме, подарят вам и вашим близким много приятных моментов, заставив болезни отступить. Эффект релаксации укрепит и обновит ваш организм, позволив насладиться незабываемыми пейзажами Моршинского курорта.
        </p>

        <h2 class="contacts-header">
            <span class="icon-mobile"></span>
            Телефон для записи и справки:
        </h2>

        <ul class="contacts-details">
            <li>(067) 67 43 613</li>
        </ul>

        <p class="slogan">
            Ми вам всегда рады!!!
        </p>

    </div>

</section><!-- /end #page-about -->

<div class="copyright">
    &copy; Copyright 2014
</div>