<div class="container">

    <div id="logo" class="animated fadeInDown">
        <h1>Массаж в Моршине</h1>
        <div class="slogan"><strong>Массаж</strong> на курорте Моршин</div>
    </div>

    <div id="langs" class="animated fadeInDown">
        <ul>
            <li class="link flag-ukr">
                <a rel="alternate" hreflang="ua" href="http://<?= $_SERVER['HTTP_HOST'] ?>/uk/index.html">Укр</a>
            </li>
            <li class="active flag-rus">Рус</li>
        </ul>
    </div>

    <div class="call-us animated fadeInDown">
        Позвоните нам:
        <span class="phone-number">(067) 67 43 613</span>
        и закажите наши услуги
    </div>

</div>
