<div id="head-carousel" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#head-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#head-carousel" data-slide-to="1"></li>
        <li data-target="#head-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="image.php?img/gallery/1.jpg" alt="">
        </div>
        <div class="item">
            <img src="image.php?img/gallery/2.jpg" alt="">
        </div>
        <div class="item">
            <img src="image.php?img/gallery/3.jpg" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#head-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#head-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<section id="page-index" class="page container">

    <p class="wellcome animation-ready" data-animation-name="fadeIn">
        Массаж — один из лучших подарков, который можно предложить своему телу. Он не только является инструментом облегчения различных заболеваний, но и стимулятором кровообращения, омолаживает организм, заряжает его энергией, помогает сохранить подвижность и гибкость, улучшает состояние суставов и мышц.
    </p>

    <dl class="massages-types">
        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Лечебный массаж
        </dt>
        <dd class="treatment animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Один из любимых врачами способов лечения при травмах и заболеваниях опорно-двигательного аппарата. С помощью массажа избавляются от солевых отложений, улучшают работу суставов, мышц и связок. Кроме того, массаж также обезболивает. Травмы, переломы, заболевания суставов и позвоночника — лечебный массаж с успехом справляется со всеми этими недугами.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Нарушение опорно-двигательного аппарата</li>
                <li>Остеохондроз (постоянные ноющие боли в спине, к которым нередко присоединяются онемение и чувство ломоты в конечностях)</li>
                <li>Остеопороз (Хронически прогрессирующее системное, обменное заболевание скелета, характеризующееся снижением плотности костей)</li>
                <li>Сколиоз (искривление позвоночника)</li>
                <li>Кифоз (искривление верхнего отдела позвоночника)</li>
                <li>Лордоз (Изгиб позвоночника, обращенный выпуклостью вперед)</li>
                <li>Воспалительные процессы (Миозиты)</li>
                <li>Межпозвоночная грыжа</li>
                <li>При мышечных спазмах</li>
                <li>Травм с поражением мышц</li>
                <li>Проблемы с давлением</li>
                <li>Улучшает кровообращение в организме</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>

        </dd>
        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Классический массаж
        </dt>
        <dd class="classic animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Это механическое воздействие на кожу. Процедура носит общеоздоровительный характер. После сеанса классического массажа неизменно повышается настроение, общий тонус, бодрость. Массаж способствует снижению стресса, улучшению обмена веществ, выведению токсинов и расслаблению напряженных мышц тела. После нескольких, повторяющихся друг за другом сеансов, происходит заметное улучшение функций кожи, уменьшаются симптомы заболевания опорно-двигательного аппарата, органов дыхания, нервной системы.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Укрепляет сердечно-сосудистую систему</li>
                <li>Остеохондроз</li>
                <li>При мышечных спазмах</li>
                <li>Мышечная атрофия</li>
                <li>Регулярные боли</li>
                <li>Невралгия</li>
                <li>Стресс</li>
                <li>Депрессия</li>
                <li>Артериальная гипертензия</li>
                <li>Улучшает кровообращение в организме</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>

        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Общий массаж
        </dt>
        <dd class="universal animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Общий массаж всего тела, выполненный руками профессионала, способствует полному расслаблению, снятия стресса и напряжения (включая напряжение мышц), улучшение кровообращения, приводит к решению многих проблем с позвоночником и к улучшению функций различных систем и органов организма. Это — отличный способ сохранить тело здоровым и красивым.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Высокие физические и умственные нагрузки</li>
                <li>Проблемы с кровооттоком и эластичностью сосудов</li>
                <li>Постоянная боль в шее и позвоночнике</li>
                <li>Головная боль и стресс</li>
                <li>Улучшает тонус мышц</li>
                <li>Очищает и омолаживает кожу всего тела</li>
                <li>Улучшение функций центральной и периферической нервной системы</li>
                <li>Снимаются воспаления и напряжение как с определенных участков, так и по всему телу</li>
                <li>Улучшает кровообращение в организме</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Массаж головы
        </dt>
        <dd class="head animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Активно действует не только на кожу головы и волосы, но и помогает снять боль. Необходим для общего расслабления, ведь в повседневной ритмической жизни на отдых остается так мало времени. Такой массаж имеет ряд преимуществ, которые заключаются, в первую очередь, в удобстве проведения: нет необходимости снимать одежду, применять различные кремы и масла. К тому же, массаж головы делается без усилий, лишь легким нажатием пальцев.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Мигрени</li>
                <li>Выпадение волос</li>
                <li>Головная боль</li>
                <li>Проблемы с памятью</li>
                <li>Бессонница</li>
                <li>Напряжение и стресс</li>
                <li>Гипертензия (повышенное артериальное давление)</li>
                <li>Улучшает кровообращение</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>

        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Вакуумный массаж
        </dt>
        <dd class="vacuum animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Методика прямой аппаратной стимуляции кожи и касательных тканей с целью лечения мышечных спазмов и целлюлита, уменьшение объемов жировых отложений, моделирования силуэта тела, сокращения и укрепления площади дряблой растянутой кожи.
                В процессе вакуумно-роликового массажа происходит объемное механическое разминание кожно-жировой складки, поддержка с помощью вакуумной аспирации малой величины. Эффект основан на том же принципе, что и широко известные лечебные банки.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Рассасывает последствия шрамов и рубцов на коже</li>
                <li>Разглаживает морщины и омолаживает кожу</li>
                <li>При начальных стадиях варикозного расширения сосудов</li>
                <li>Нарушение кровообращения</li>
                <li>Миозиты</li>
                <li>Вегетососудистая дистония</li>
                <li>При мышечных спазмах</li>
                <li>Проблемы с трофикой тканей</li>
                <li>Слабость сосудистых стенок</li>
                <li>Восстановление кожно-мышечного тонуса</li>
                <li>Улучшает кровообращение</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>

        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Баночный массаж
        </dt>
        <dd class="cupping animation-ready" data-animation-name="fadeInRightBig">
            <p>
                изобретение Тибетской и Корейской медицины, которому около 2000 лет. Он тесно связан с суджок-терапией, суть которой заключается в воздействии на биоактивные точки на теле человека, и предусматривает лечение за счет собственных сил организма методом воздействия вакуумного давления и механического движения разных приспособлений (баночек, стаканчиков, а ныне — вакуумных пластиковых безогневых баночек для массажа) на кожный покров, мышечную ткань или жировой слой человека. Баночный массаж проводят в тех местах, где ярко выражен мышечно-жировой слой: поясничная область, линии вдоль позвоночника, области плеча, бедра и верхней трети голени. Продолжительность одной процедуры от 5-10 до 15-20 минут. Процедуру заканчивают при появлении стойкого покраснения кожи.
                Лечебный эффект при баночном массаже: в течение процедуры баночного массажа отмечается появление тепла, мышечной расслабленности, ослабление боли, покой и сонливость, хранящиеся после окончания сеанса в течение нескольких часов. После 2-3 процедур (в межпроцедурный период) обычно сохраняется ослабление боли, увеличивается подвижность позвоночника, суставов, уменьшается скованность мышц спины и конечностей, улучшается нарушеная ранее чувствительность.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Миозиты</li>
                <li>Острый и хронический бронхит</li>
                <li>Дискинезия кишечника</li>
                <li>Комплекс лечения шейного, грудного и поясничного остеохондроза</li>
                <li>Боли в мышцах спины</li>
                <li>Вегетососудистая дистония</li>
                <li>Укрепление иммунитета кожи и общей сопротивляемости организма</li>
                <li>При начальных стадиях варикозного расширения сосудов</li>
                <li>Улучшает кровообращение</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Стоун-массаж
        </dt>
        <dd class="stone animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Не зря называют целебным. По сути — это термотерапия, которая использует метод глубокого воздействия нагретых базальтовых камней и чередование холодных мраморных камней. Это отличный влияние на кровеносные сосуды, что укрепляет их работу на долгие годы. Сама процедура не только полезна, но и приятна: теплая комната, релаксирующая музыка, теплые камни ... Массаж выполняется камнями вулканических пород, которые медленно остывают на вулканических склонах, поэтому хранят в себе колоссальное количество полезных микроэлементов, а так же магний и железо, которые так нужны организму в жизни полном стрессовых ситуаций.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Хроническая усталость, переутомление</li>
                <li>Нарушение обмена веществ</li>
                <li>Телесный дискомфорт</li>
                <li>Головная боль, повышенные умственные нагрузки</li>
                <li>Нарушение работы дыхательной системы</li>
                <li>Депрессия</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Медовый массаж
        </dt>
        <dd class="honey animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Пришел к нам из древнего Тибета. Он основан на взаимодействии кожи и биологически активных веществ, входящих в состав меда, включая стандартные механизмы действия других видов массажа. Относится к разновидности рефлексотерапии — ошеломляющем сочетании лечебного действия пчелиного меда и массажа.
                Резкое улучшение кровообращения в глубоких слоях кожи и мышцах способствует улучшению питания внутренних органов и тканей. Мед, отдавая биологически активные вещества, абсорбирует токсины и способствует быстрому выведению их из организма. Особенно полезен медовый массаж для тех, у кого есть незначительные дефекты кожного покрова. По окончании курса данных процедур исчезает отечность, улучшается цвет кожи, кожа становится идеально гладкой и нежной.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Выводит токсины</li>
                <li>Очищает кожу от шлаков</li>
                <li>Омолаживающая кожу</li>
                <li>Увеличивает лимфоотток</li>
                <li>Лишний вес, целлюлит</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Массаж горячим шоколадом
        </dt>
        <dd class="chocolate animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Является методикой, основной целью которой является лишение человека стресса и общее оздоровление организма. Шоколадный массаж — это также сочетание методик психотерапии, лимфодренажа, аромотерапии, масок и других косметических процедур, направленных на стимулирование процессов обмена веществ в организме человека. По мнению многих специалистов, этот массаж является самым приятным из всех, созданных человечеством на сегодняшний день.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Необходимость корректировки фигуры и нормализации веса</li>
                <li>Наличие жировых отложений в области бедер и живота</li>
                <li>Снижение эластичности кожи и ее упругости</li>
                <li>Целлюлит</li>
                <li>Общее подавленное состояние человека</li>
                <li>Нарушение обмена веществ в клетках</li>
                <li>Появление признаков старения кожи</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Общий антицеллюлитный массаж
        </dt>
        <dd class="cellulite animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Поможет избавиться от проблемных зон, избавиться от лишнего веса и улучшить внешний вид кожного покрова. Наши специалисты разработали уникальную антицеллюлитную программу, включающую целый набор индивидуально подобранных методик и подходов массажа. С помощью антицеллюлитного массажа происходит нормализация притока и оттока крови, сожжение жировой тканей, поддержание кожи в тонусе.
                   Программа антицеллюлитного массажа ног и ягодиц создана для сильного расслабления мышц, снятия отечности с проблемных участков тела, предотвращает появление дряблости кожи и служит для снятия стресса и упругости кожи. С помощью антицеллюлитного массажа ног и ягодиц можно подкорректировать зону бедер, ягодиц и галифе.
                Поднявшись с массажного стола, вы почувствуете себя полностью обновленным и готовым к новым достижениям.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Лечение целлюлита и устранение жировых отложений в области ягодиц, на задней поверхности бедер и зоны «галифе» (верхняя наружная поверхность бедер)</li>
                <li>Отток лишней жидкости из клеток</li>
                <li>Лишний вес</li>
                <li>Травмы, сопровождающиеся отеком тканей</li>
                <li>Целлюлит (апельсиновая корка)</li>
                <li>Улучшает кровообращение</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Антицеллюлитные обертывания
        </dt>
        <dd class="cellulite-wrap animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Один из наиболее эффективных способов избавления от некрасивой «апельсиновой корки». Регулярное применение обертываний помогает как устранить проявления целлюлита, так и предотвратить их и сохранить кожу гладкой и красивой. Есть множество рецептов антицеллюлитных обертываний, все они базируются на эффективном воздействии компонентов смесей. Наиболее эффективными являются грязевые, медовые, кофейные, перечные, водорослевые обертывания.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Очищает поры</li>
                <li>Целлюлит (апельсиновая корка)</li>
                <li>Насыщает кожу витаминами</li>
                <li>Выводит токсины</li>
                <li>Улучшает кровообращение</li>
                <li>Разглаживает кожу и повышает её упругость</li>
                <li>Уменьшает растяжки, рубцы и гидро-жировые луковицы</li>
                <li>Лечение целлюлита и устранения жировых отложений в области ягодиц, на задней поверхности бедер и зоны «галифе» (верхняя наружная поверхность бедер)</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Обертывания морскими водорослями
        </dt>
        <dd class="seaweed-wraps animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Выполняют с целью сохранения и восстановления красоты и здоровья, а также для того, чтобы просто доставить удовольствие своему организму.
                Для обертываний используют натуральные компоненты, которые проникают сквозь поры кожи в организм и излечивая такие проблемы со здоровьем, как боли в мышцах и суставах, плохое кровообращение и выведение из организма скоплений вредных веществ. На сегодняшний день известно, что обертывания сжигают жир, борются с целлюлитом и очищают организм от токсинов, к тому же, такая спа-процедура точно поможет вам с проблемами лишнего веса за счёт сильного потоотделения и потери жидкости во время процедуры. Обертывания с морскими водорослями обогащают кожу питательными веществами, делают ее эластичной и гладкой.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Активное расщепление жировых отложений</li>
                <li>Уменьшение целлюлита</li>
                <li>Лифтинг и регенерация клеток кожи</li>
                <li>Восстановление тонуса кожи</li>
                <li>Общая нормализация обмена веществ</li>
                <li>Детоксикация и релаксация (расслабление, снятие стресса)</li>
                <li>Профилактика варикоза</li>
                <li>Улучшает кровообращение</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Релакс-массаж
        </dt>
        <dd class="relax animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Расслабляющий массаж способен быстро снять усталость и снизить до минимума нервное напряжение, повысить иммунитет и сопротивляемость организма внешним неблагоприятным факторам. Техника расслабляющего массажа построена на взаимоотношениях между органом психики, головным мозгом и мышцами. В процессе релаксации в организме протекают аналогичные процессы, что и во время медитации или сна, когда происходит нормализация физического и психологического здоровья организма. Таким образом, техника расслабляющего массажа направлена на достижение такого состояния. Помогут в этом некоторые медитативные техники, эфирные масла, музыкальные композиции. Также используют ароматические вещества для воздуха.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Снимаются стресс и усталость</li>
                <li>Разглаживает морщины</li>
                <li>Бессонница</li>
                <li>Депрессия</li>
                <li>Улучшает кровоотток в организме</li>
                <li>Восстанавливает работоспособность при физических нагрузках</li>
                <li>Повышает упругость мышечных волокон</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Лимфодренажный массаж
        </dt>
        <dd class="lymphatic animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Активизирует выработку лимфоцитов и способствует ускорению их оборота в организме. Благодаря специальным массажным движениям, улучшается ритмическая компрессия тканей и, соответственно, обновляются функции капиллярного лимфатического насоса. Лимфодренажный массаж очищает лимфатические сосуды и протоки от шлаков, ускоряет процессы их выведение из организма.
                <span class="read-more">[Узнать больше...]</span>
            </p>

            <h2 class="hidden">
                Показания
            </h2>
            <ul class="hidden">
                <li>Увеличивает лимфоотток</li>
                <li>Укрепляет иммунитет</li>
                <li>Способствует выведению шлаков и токсинов</li>
                <li>Оптимизирует водно-солевой баланс</li>
                <li>Активизирует расщепление жиров</li>
                <li>Улучшает крововидтик в организме</li>
                <li>При варикозном расширении сосудов</li>
            </ul>
            <p class="hide-details hidden">
                [Спрятать детали...]
            </p>
        </dd>

    </dl>
</section> <!-- /end #page-index -->
