<section id="page-location" class="page">

    <div class="container">

        <h1>Где нас найти?</h1>
        <p class="simple-text">
            Нас можно найти по следующим адресам:
        </p>

        <ul class="locations-list">
            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/arkadya/1.jpg" alt="Санаторий Аркадия" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторий Аркадия</h2>
                <dl>
                    <dt>Адрес:</dt>
                    <dd>Город Моршын, ул. Джерельная, 3. Кабинет 19.</dd>
                    <dt>График работы:</dt>
                    <dd>9.00 - 18.00</dd>

                    <p class="location-actions-wrapper icon-location">
                        <a class="find-on-map"
                           data-latitude="49.14758"
                           data-longitude="23.87260"
                           data-targetname="Санаторий Аркадия"
                           href="#">
                            Найти на карте
                        </a>
                    </p>

                    <p class="location-actions-wrapper icon-images">
                        <a class="view-photos" href="/ru/photos.html?dirname=arkadya">Фото</a>
                    </p>

                </dl>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/bogdan/1.jpg" alt="Санаторий Богдан" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторий Богдан</h2>
                <dl>
                    <dt>Адрес:</dt>
                    <dd>Город Моршын, ул. Вокзалальная, 2\а. Кабинет 301</dd>
                    <dt>График работы:</dt>
                    <dd>9.00 - 18.00</dd>

                    <p class="location-actions-wrapper icon-location">
                        <a class="find-on-map"
                           data-latitude="49.154541"
                           data-longitude="23.873847"
                           data-targetname="Санаторий Богдан"
                           href="#">
                            Найти на карте
                        </a>
                    </p>

                    <p class="location-actions-wrapper icon-images">
                        <a class="view-photos" href="/ru/photos.html?dirname=bogdan">Фото</a>
                    </p>

                </dl>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/balneology/1.jpg" alt="Бальнеологическая больница" width="230" height="180">
                </figure>

                <h2 class="location-title">Бальнеологическая больница</h2>
                <dl>
                    <dt>Адрес:</dt>
                    <dd>Город Моршын, ул. Парковая,3. Кабинет 130.</dd>
                    <dt>График работы:</dt>
                    <dd>9.00 - 18.00</dd>

                    <p class="location-actions-wrapper icon-location">
                        <a class="find-on-map"
                           data-latitude="49.148829"
                           data-longitude="23.870360"
                           data-targetname="Бальнеологическая больница"
                           href="#">
                            Найти на карте
                        </a>
                    </p>

                    <p class="location-actions-wrapper icon-images">
                        <a class="view-photos" href="/ru/photos.html?dirname=balneology">Фото</a>
                    </p>

                </dl>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/carpathian_pearl/1.jpg" alt="Санаторій Перлина Прыкарпаття" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторий Перлына Прыкарпаття</h2>
                <dl>
                    <dt>Адрес:</dt>
                    <dd>Город Моршын, лечебно-диагностическое отделение, ул. С.Бандери,9. Корпус 1, 2й этаж. Кабинет 2.</dd>
                    <dt>График работы:</dt>
                    <dd>9.00 - 18.00</dd>

                    <p class="location-actions-wrapper icon-location">
                        <a class="find-on-map"
                           data-latitude="49.15117"
                           data-longitude="23.867588"
                           data-targetname="Санаторий Перлына Прыкарпаття"
                           href="#">
                            Найти на карте
                        </a>
                    </p>

                    <p class="location-actions-wrapper icon-images">
                        <a class="view-photos" href="/ru/photos.html?dirname=carpathian_pearl">Фото</a>
                    </p>

                </dl>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/medical_diagnostic/1.jpg" alt="Лечебно-диагностический центр" width="230" height="180">
                </figure>

                <h2 class="location-title">Лечебно-диагностический центр</h2>
                <dl>
                    <dt>Адрес:</dt>
                    <dd>Город Моршын, ул. Степана Бандеры,4. 5 этаж. Кабинет 512.</dd>
                    <dt>График работы:</dt>
                    <dd>9.00 - 18.00</dd>

                    <p class="location-actions-wrapper icon-location">
                        <a class="find-on-map"
                           data-latitude="49.151798"
                           data-longitude="23.870553"
                           data-targetname="Лечебно-диагностический центр"
                           href="#">
                            Найти на карте
                        </a>
                    </p>

                    <p class="location-actions-wrapper icon-images">
                        <a class="view-photos" href="/ru/photos.html?dirname=medical_diagnostic">Фото</a>
                    </p>

                </dl>
            </li>

        </ul>

    </div>

</section><!-- /end #page-location -->