<nav>
    <a id="menu-btn"  class="menu-button" href="#nav">
        <span class="icon-menu"></span>
        Меню
    </a>

    <ul <? if (isset($iconsNavigation)): echo 'class="icons-navigation"'; endif; ?>>
        <li>
            <a href="/ru/index.html" data-target="page-index">
                <span class="i-home"></span> Главная
            </a>
        </li>
        <li>
            <a href="/ru/location.html" data-target="page-location">
                <span class="i-compass"></span> Где мы?
            </a>
        </li>
        <li>
            <a href="/ru/about.html" data-target="page-about">
                <span class="i-info-circle"></span> О нас
            </a>
        </li>
    </ul>
</nav>