<?php
$DS      = DIRECTORY_SEPARATOR;
$dirname = strip_tags(trim($_GET['dirname']));
$path    = getcwd() . $DS . 'media' . $DS . $dirname . $DS . '800';

if (is_dir($path)):
    $iterator = new GlobIterator("{$path}{$DS}*.jpg", FilesystemIterator::KEY_AS_FILENAME);
?>
<ul>
<?php foreach ($iterator as $filename => $sfi): ?>
    <li>
        <a href="<?php echo "/media/{$dirname}/800/{$filename}"; ?>">
            <img src="<?php echo "/media/{$dirname}/800/{$filename}"; ?>" alt=""/>
        </a>
    </li>
<?php endforeach; ?>
</ul>
<?php endif; ?>