.icon-pin,.icon-iphone,.icon-info,.icon-home,.icon-map-pin-stroke,.icon-target {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-pin {
	background-position: 0 0;
}
.icon-iphone {
	background-position: -64px 0;
}
.icon-info {
	background-position: -128px 0;
}
.icon-home {
	background-position: -192px 0;
}
.icon-map-pin-stroke {
	background-position: -256px 0;
}
.icon-target {
	background-position: -320px 0;
}
