<section id="page-about" class="page">

    <div class="container animation-ready" data-animation-name="zoomIn">

        <h1>Про нас</h1>

        <p class="simple-text">
            У нашому центрі працюють тільки найкращі фахівці та визнані майстри своєї справи. З клієнтами працюють тільки дипломовані масажисти - реабілітологи, які щороку підтверджують найвищий рівень кваліфікації. Досвід роботи в курортній зоні Моршина більше 10 років, розроблена своя унікальну методику лікувального масажу. Звернувшись до нас, можете гарантовано розраховувати на всі доступні види масажу, серед яких:
        </p>

        <ul class="contacts-massages-list">
            <li>Лікувальний масаж</li>
            <li>Класичний масаж</li>
            <li>Загальний масаж усього тіла</li>
            <li>Масаж голови</li>
            <li>Вакуумний масаж</li>
            <li>Баночний масаж</li>
            <li>Стоун – масаж (масаж гарячим камінням)</li>
            <li>Медовий масаж</li>
            <li>Масаж гарячим шоколадом</li>
            <li>Антицелюлітний масаж</li>
            <li>Антицелюлітне обгортання</li>
            <li>Обгортання морськими водоростями</li>
            <li>Релакс масаж</li>
            <li>Лімфодренажний масаж</li>
        </ul>

        <p class="simple-text">
            Високий рівень обслуговування та багаторічний досвід роботи не залишив байдужим жодного клієнта нашого масажного - центру. Найкраще обладнання і висококласні фахівці працюють в чудовому тандемі подарують вам і вашим близьким багато приємних моментів, змусивши недуги відступити. Ефект релаксації зміцнить і оновить ваш організм, дозволивши насолодитися незабутніми пейзажами Моршинського курорту.
        </p>

        <h2 class="contacts-header">
            <span class="icon-mobile"></span>
            Телефон для запису та довідки:
        </h2>

        <ul class="contacts-details">
            <li>(067) 67 43 613</li>
        </ul>

        <p class="slogan">
            Ми вам завжди раді!!!
        </p>

    </div>

</section><!-- /end #page-about -->

<div class="copyright">
    &copy; Copyright 2014
</div>