<div class="container">

    <div id="logo" class="animated fadeInDown">
        <h1>Масаж у Моршині</h1>
        <div class="slogan"><strong>Масаж</strong> на курорт Моршин</div>
    </div>

    <div id="langs" class="animated fadeInDown">
        <ul>
            <li class="active flag-ukr">Укр</li>
            <li class="link flag-rus">
                <a rel="alternate" hreflang="ru" href="http://<?= $_SERVER['HTTP_HOST'] ?>/ru/index.html">Рус</a>
            </li>
        </ul>
    </div>

    <div class="call-us animated fadeInDown">
        Подзвоніть нам:
        <span class="phone-number">(067) 67 43 613</span>
        та замовте наші послуги
    </div>

</div>
