<div id="head-carousel" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#head-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#head-carousel" data-slide-to="1"></li>
        <li data-target="#head-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="image.php?img/gallery/1.jpg" alt="">
        </div>
        <div class="item">
            <img src="image.php?img/gallery/2.jpg" alt="">
        </div>
        <div class="item">
            <img src="image.php?img/gallery/3.jpg" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#head-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#head-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<section id="page-index" class="page container">

    <p class="wellcome animation-ready" data-animation-name="fadeIn">
        Масаж — один з найкращих подарунків, який можна запропонувати своєму тілу. Він не тільки є інструментом полегшення різноманітних захворювань, а й стимулятором кровообігу, омолоджує організм, заряджає його енергією, допомагає зберегти рухливість і гнучкість, покращує стан суглобів та м'язів.
    </p>

    <dl class="massages-types">
        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Лікувальний
        </dt>
        <dd class="treatment animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Один з «улюблених» лікарями способів лікування при травмах і захворюваннях опорно-рухового апарату. За допомогою масажу позбавляються від сольових відкладень, покращують роботу суглобів, м'язів і зв'язок. Крім того, масаж також знеболює. Травми, переломи, захворювання суглобів і хребта — лікувальний масаж з успіхом справляється з усіма цими недугами.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>Порушення опорно-рухового апарату</li>
                <li>Остеохондроз (Постійні ниючі болі в спині, до яких нерідко приєднується оніміння і відчуття ломоти в кінцівках)</li>
                <li>Остеопороз (Хронічно прогресуюче системне, обмінне захворювання скелета, яке характеризується зниженням щільності кісток)</li>
                <li>Сколіоз (Викривлення хребта)</li>
                <li>Кіфоз (Викривлення верхнього відділу хребта)</li>
                <li>Лордоз (Вигин хребта, звернений опуклістю вперед)</li>
                <li>Запальні процеси (Міозити)</li>
                <li>Міжхребцева грижа</li>
                <li>При м'язових спазмах</li>
                <li>При травмах з ураженням м'язів</li>
                <li>Проблеми з артеріальним тиском</li>
                <li>Для покращення кровообігу в організмі</li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>

        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Класичний
        </dt>
        <dd class="classic animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Це механічний вплив на шкіру. Процедура носить загальнооздоровчий характер. Після сеансу класичного масажу незмінно підвищується настрій, загальний тонус, бадьорість. Масаж сприяє зниженню стресу, поліпшенню обміну речовин, виведенню токсинів і розслабленню напружених м'язів тіла. Після декількох, повторюваних один за одним сеансів, відбувається помітне поліпшення функцій шкіри, зменшуються симптоми захворювання опорно-рухового апарату, органів дихання, нервової системи.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>Серцево-судинні захворювання</li>
                <li>Остеохондроз</li>
                <li>При м'язових спазмах</li>
                <li>М'язова атрофія</li>
                <li>Регулярні болі</li>
                <li>Невралгія</li>
                <li>Стрес</li>
                <li>Депресія</li>
                <li>Артеріальна гіпертензія</li>
                <li>Для покращення кровообігу в організмі</li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Загальний масаж усього тіла
        </dt>
        <dd class="universal animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Такий масаж, виконаний руками професіонала, сприяє повному розслабленню, зняття стресу і напруги (включаючи напругу м'язів), поліпшення кровообігу, призводить до вирішення багатьох проблем з хребтом і до поліпшення функцій різних систем і органів організму. Це — відмінний спосіб зберегти тіло здоровим і красивим.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>
                    Високі фізичні і розумові навантаження
                </li>
                <li>
                    Проблеми з крововідтоком та еластичністю судин
                </li>
                <li>
                    Постійна біль у шиї і хребті
                </li>
                <li>
                    Головний біль і стрес
                </li>
                <li>
                    Покращує тонус м’язів
                </li>
                <li>
                    Очищає і омолоджує шкіру всього тіла
                </li>
                <li>
                    Поліпшення функцій центральної та периферійної нервової системи
                </li>
                <li>
                    Знімаються запалення і напруження як з певних ділянок, так і з усього тіла.
                </li>
                <li>
                    Покращує кровообіг в організмі
                </li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Масаж голови
        </dt>
        <dd class="head animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Активно діє не тільки на шкіру голови і волосся, але і допомагає зняти біль. Необхідний для загального розслаблення, адже у повсякденному ритмічному житті на відпочинок залишається так мало часу. Такий масаж має ряд переваг, які полягають, в першу чергу, в зручності проведення. Немає необхідності знімати одяг, застосовувати різні креми і масла. До того ж, масаж голови робиться без зусиль, лише легким натисканням пальців.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Мігрені</li>
                <li>Випадання волосся</li>
                <li>Головний біль</li>
                <li>Проблеми з пам'яттю</li>
                <li>Безсоння</li>
                <li>Напруга і стрес</li>
                <li>Гіпертензія (Підвищений артеріальний тиск)</li>
                <li>Для покращення кровообігу</li>
                <p class="hide-details hidden">[Сховати деталі...]</p>
            </ul>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Вакуумний
        </dt>
        <dd class="vacuum animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Методика прямої апаратної стимуляції шкіри і дотичних тканин з метою лікування м'язових спазмів та целюліту, зменшення обсягів жирових відкладень, моделювання силуету тіла, скорочення і зміцнення площі в'ялою розтягнутої шкіри.
                У процесі вакуумно-роликового масажу відбувається об'ємне механічне розминання шкірно-жирової складки, підтримка за допомогою вакуумної аспірації малої величини. Ефект базується  на тому ж принципі, що і широко відомі лікувальні банки.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>
                    Розсмоктує наслідки шрамів і рубців на шкірі
                </li>
                <li>
                    Розгладжує зморшки і омолоджує шкіру
                </li>
                <li>
                    При початкових стадіях варикозного розширення судин
                </li>
                <li>
                    Порушення кровообігу
                </li>
                <li>
                    Міозити
                </li>
                <li>
                    Вегетосудинна дистонія
                </li>
                <li>
                    При м'язових спазмах
                </li>
                <li>
                    Проблеми з трофікою тканин
                </li>
                <li>
                    Слабкість судинних стінок
                </li>
                <li>
                    Відновлення шкірно-м'язового тонусу
                </li>
                <li>
                    Покращення кровообігу
                </li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Баночний
        </dt>
        <dd class="cupping animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Винахід тибетської і корейської медицини, якому близько 2000 років. Він тісно пов'язаний з суджок-терапією, суть якої у впливі на біоактивні точки на тілі людини, і передбачає лікування за рахунок власних сил організму методом впливу вакуумного тиску і механічного руху пристосувань (баночок, стаканчиків, а нині - вакуумних пластикових безвогневих баночок для масажу) на шкірний покрив, м'язову тканину або жировий шар людини. Баночний масаж проводять у тих місцях, де яскраво виражений м'язово-жировий шар: поперекова область, лінії вздовж хребта, області плеча, стегна і верхньої третини гомілки. Тривалість однієї процедури від 5-10 до 15-20 хвилин. Процедуру закінчують при появі стійкого почервоніння шкіри.
                Лікувальний ефект при баночному масажі: протягом процедури баночного масажу відзначається поява тепла, м'язової розслабленості, ослаблення болю, спокій і сонливість, що зберігаються після закінчення сеансу протягом кількох годин. Після 2-3 процедур (в міжпроцедурний період) зазвичай зберігається ослаблення болю, збільшується рухливість хребта, суглобів, зменшується скутість м'язів спини і кінцівок, покращується порушена чутливість.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Міозити</li>
                <li>Гострий і хронічний бронхіт</li>
                <li>Дискінезія кишківника</li>
                <li>Комплекс лікування шийного, грудного і поперекового остеохондрозу</li>
                <li>Болі в м'язах спини</li>
                <li>Вегетосудинна дистонія</li>
                <li>Зміцнення імунітету шкіри і загальної опірності організму</li>
                <li>При початкових стадіях варикозного розширення судин</li>
                <li>Для покращення кровообігу</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Стоун-масаж
        </dt>
        <dd class="stone animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Стоун-Масаж — не даремно називають цілющим. По суті — це термотерапія, яка використовує метод глибокого впливу нагрітих базальтових каменів і чергування холодних мармурових каменів. Це відмінний вплив на кров'яні судини, що зміцнює їх роботу на довгі роки. Сама процедура не тільки корисна, але й приємна: тепла кімната, релаксуюча музика, теплі камені ... Масаж виконується камінням вулканічних порід, які повільно остигають на вулканічних схилах, тому зберігають у собі колосальну кількість корисних мікроелементів, а так само магній і залізо, які так потрібні організму в житті повному стресових ситуацій.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>
                    Хронічна втома, перевтома
                </li>
                <li>
                    Порушення обміну речовин
                </li>
                <li>
                    Тілесний дискомфорт
                </li>
                <li>
                    Головний біль, підвищені розумові навантаження
                </li>
                <li>
                    Порушення роботи дихальної системи
                </li>
                <li>
                    Депресія
                </li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>

        </dd>

        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Медовий
        </dt>
        <dd class="honey animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Прийшов до нас із стародавнього Тибету. Він заснований на взаємодії шкіри і біологічно активних речовин, що входять до складу меду, включаючи стандартні механізми дії інших видів масажу. Відноситься до різновиду рефлексотерапії - приголомшуюче поєднання лікувальної дії бджолиного меду та масажу.
                Різке поліпшення кровообігу в глибоких шарах шкіри і м'язах, сприяє поліпшенню живлення внутрішніх органів і тканин. Мед, віддаючи біологічно активні речовини, абсорбує токсини і сприяє швидкому виведенню їх з організму. Особливо корисний медовий масаж для тих, у кого є незначні дефекти шкірного покриву. Після закінчення курсу даних процедур зникає набряклість, поліпшується колір шкіри, шкіра стає ідеально гладкою і ніжною.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Виводить токсини</li>
                <li>Очищує шкіру від шлаків</li>
                <li>Омолоджує шкіру</li>
                <li>Збільшує лімфовідтік</li>
                <li>Зайва вага, целюліт</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Масаж гарячим шоколадом
        </dt>
        <dd class="chocolate animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Є методикою, основною метою якої є позбавлення людини від стресу і загальне оздоровлення організму. Шоколадний масаж — це також поєднання методик психотерапії, лімфодренажу, аромотерапії, масок та інших косметичних процедур, спрямованих на стимулювання процесів обміну речовин в організмі людини. На думку багатьох фахівців, цей масаж є найприємнішим із усіх, створених людством на сьогоднішній день.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Необхідність коригування фігури і нормалізації ваги</li>
                <li>Наявність жирових відкладень в області стегон і живота</li>
                <li>Зниження еластичності шкіри і її пружності</li>
                <li>Целюліт</li>
                <li>Загальний пригнічений стан людини</li>
                <li>Порушення обміну речовин в клітинах</li>
                <li>Поява ознак старіння шкіри</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Загальний антицелюлітний масаж
        </dt>
        <dd class="cellulite animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Допоможе позбутися проблемних зон, позбавиться від зайвої ваги і поліпшити зовнішній вигляд шкірного покриву. Наші фахівці розробили унікальну антицелюлітну програму, що включає цілий набір індивідуально підібраних методик і підходів масажу. За допомогою антицелюлітного масажу відбувається нормалізація припливу і відтоку крові, спалення жирової тканин, підтримки шкіри в тонусі.
                  Програма антицелюлітного масажу ніг і сідниць створена для сильного розслаблення м'язів, зняття набряклості з проблемних ділянок тіла, запобігає появі в'ялості шкіри і служить для зняття стресу і пружності шкіри. За допомогою антицелюлітного масажу ніг і сідниць можна підкоригувати зону стегон, сідниць і галіфе.
                Вставши з масажного столу, ви відчуєте себе повністю оновленим і готовим до нових досягнень.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">
                Покази
            </h2>
            <ul class="hidden">
                <li>
                    Лікування целюліту та усунення жирових відкладень в області сідниць, на задній Поверхні стегон і зони «галіфе» (верхня зовнішня поверхня стегон)
                </li>
                <li>Відтік зайвої рідини з клітин</li>
                <li>Зайва вага</li>
                <li>Травми, що супроводжуються набряком тканин</li>
                <li>Целюліт (апельсинова кірка)</li>
                <li>Поліпшення кровообігу</li>
            </ul>
            <p class="hide-details hidden">
                [Сховати деталі...]
            </p>

        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Антицелюлітні обгортання
        </dt>
        <dd class="cellulite-wrap animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Один з найбільш ефективних способів позбавлення від непривабливої «апельсинової кірки». Регулярне застосування обгортань допомагає як усунути прояви целюліту, так і запобігти їх і зберегти шкіру гладкою і красивою. Є безліч рецептів антицелюлітних обгортань, усі вони базуються на ефективному впливі компонентів суміші. Найефективнішими є грязьові, медові, кавові, перцеві, водоростеві обгортання.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Очищує пори</li>
                <li>Целюліт (апельсинова кірка)</li>
                <li>Насичує шкіру вітамінами</li>
                <li>Виводить токсини</li>
                <li>Поліпшує кровообіг</li>
                <li>Розгладжує шкіру і підвищує її пружність</li>
                <li>Зменшує розтяжки, рубці і гідро-жирові цибулини</li>
                <li>
                    Лікування целюліту та усунення жирових відкладень в області сідниць, на задній Поверхні стегон і зони «галіфе» (верхня зовнішня поверхня стегон)
                </li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Обгортання морськими водоростями
        </dt>
        <dd class="seaweed-wraps animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Дану процедуру иконують з метою збереження і відновлення краси і здоров'я, а також для того, щоб просто зробити приємність своєму організму.
                Для обгортань використовують натуральні компоненти, що проникають крізь пори шкіри в організм і лікуючи такі проблеми зі здоров'ям, як болі в м'язах і суглобах, поганий кровообіг і виведення з організму скупчень шкідливих речовин. На сьогоднішній день відомо, що обгортання спалює жир, бореться з целюлітом і очищає організм від токсинів, до того ж, така спа - процедура точно допоможе вам з проблемами зайвої ваги за рахунок сильного потовиділення і втрати рідини під час процедури. Обгортання з морськими водоростями збагачують шкіру поживними речовинами, роблять її еластичною і гладкою.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Активне розщеплення жирових відкладень</li>
                <li>Зменшення целюліту</li>
                <li>Ліфтінг і регенерація клітин шкіри</li>
                <li>Відновлення тонусу шкіри</li>
                <li>Загальна нормалізація обміну речовин</li>
                <li>Детоксикація і релаксація (розслаблення, зняття стресу)</li>
                <li>Профілактика варикозу</li>
                <li>Поліпшення кровообігу</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Релакс-масаж
        </dt>
        <dd class="relax animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Розслабляючий масаж здатний швидко зняти втому і знизити до мінімуму нервову напругу, підвищити імунітет і опір організму зовнішнім несприятливим факторам. Техніка розслабляючого масажу побудована на взаємовідносинах між органом психіки, головним мозком і м'язами. У процесі релаксації  в організмі протікають аналогічні процеси, що і під час медитації або сну, коли відбувається нормалізація фізичного та психологічного здоров'я організму. Таким чином, техніка розслабляючого масажу спрямована на досягнення такого стану. Допоможуть у цьому деякі медитативні техніки, ефірні масла, музичні композиції. Також використовують ароматичні речовини для повітря.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Стрес і втома</li>
                <li>Розгладжує зморшки</li>
                <li>Безсоння</li>
                <li>Депресія</li>
                <li>Покращує крововідтік в організмі</li>
                <li>Відновлює працездатність при фізичних навантаженнях</li>
                <li>Підвищує пружність м'язових волокон</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>


        <dt class="animation-ready" data-animation-name="fadeInRightBig">
            Лімфодренажний
        </dt>
        <dd class="lymphatic animation-ready" data-animation-name="fadeInRightBig">
            <p>
                Активізує вироблення лімфоцитів і сприяє прискоренню їх обороту в організмі. Завдяки спеціальним масажним рухам, поліпшується ритмічна компресія тканин і, відповідно, оновлюються функції капілярного лімфатичного насосу. Лімфодренажний масаж очищає лімфатичні судини і протоки від шлаків, прискорює процеси їх виведення з організму.
                <span class="read-more">[Дізнатись більше...]</span>
            </p>

            <h2 class="hidden">Покази</h2>
            <ul class="hidden">
                <li>Збільшує лімфооток</li>
                <li>Зміцнює імунітет</li>
                <li>Сприяє виведенню шлаків і токсинів</li>
                <li>Оптимізує водно-сольовий баланс</li>
                <li>Активізує розчеплення жирів</li>
                <li>Покращує крововідтік в організмі</li>
                <li>При варикозному розширенні судин</li>
            </ul>
            <p class="hide-details hidden">[Сховати деталі...]</p>
        </dd>
    </dl>

</section><!-- /end #page-index -->