<section id="page-location" class="page">

    <div class="container">

        <h1>Де ми?</h1>
        <p class="simple-text">
            Нас можна знайти за наступними адресами:
        </p>

        <ul class="locations-list">
            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/arkadya/1.jpg" alt="Санаторій Аркадія" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторій Аркадія</h2>
                <dl>
                    <dt>Адреса:</dt>
                    <dd>Місто Моршин, вул. Джерельна, 3. Кабінет 19.</dd>
                    <dt>Графік роботи:</dt>
                    <dd>9.00 - 18.00</dd>

                </dl>

                <p class="location-actions-wrapper icon-location">
                    <a class="find-on-map"
                       data-latitude="49.14758"
                       data-longitude="23.87260"
                       data-targetname="Санаторій Аркадія"
                       href="#">
                        Знайти на карті
                    </a>
                </p>

                <p class="location-actions-wrapper icon-images">
                    <a class="view-photos" href="/uk/photos.html?dirname=arkadya">Фото</a>
                </p>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/bogdan/1.jpg" alt="Санаторій Богдан" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторій Богдан</h2>
                <dl>
                    <dt>Адреса:</dt>
                    <dd>Місто Моршин, вул. Вокзалальна, 2\а. Кабінет 301</dd>
                    <dt>Графік роботи:</dt>
                    <dd>9.00 - 18.00</dd>
                </dl>

                <p class="location-actions-wrapper icon-location">
                    <a class="find-on-map"
                       data-latitude="49.154541"
                       data-longitude="23.873847"
                       data-targetname="Санаторій Богдан"
                       href="#">
                        Знайти на карті
                    </a>
                </p>

                <p class="location-actions-wrapper icon-images">
                    <a class="view-photos" href="/uk/photos.html?dirname=bogdan">Фото</a>
                </p>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/balneology/1.jpg" alt="Бальнеологічна лікарня" width="230" height="180">
                </figure>

                <h2 class="location-title">Бальнеологічна лікарня</h2>
                <dl>
                    <dt>Адреса:</dt>
                    <dd>Місто Моршин, вул. Паркова,3. Кабінет 130.</dd>
                    <dt>Графік роботи:</dt>
                    <dd>9.00 - 18.00</dd>
                </dl>

                <p class="location-actions-wrapper icon-location">
                    <a class="find-on-map"
                       data-latitude="49.148829"
                       data-longitude="23.870360"
                       data-targetname="Бальнеологічна лікарня"
                       href="#">
                        Знайти на карті
                    </a>
                </p>

                <p class="location-actions-wrapper icon-images">
                    <a class="view-photos" href="/uk/photos.html?dirname=balneology">Фото</a>
                </p>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/carpathian_pearl/1.jpg" alt="Санаторій Перлина Прикарпаття" width="230" height="180">
                </figure>

                <h2 class="location-title">Санаторій Перлина Прикарпаття</h2>
                <dl>
                    <dt>Адреса:</dt>
                    <dd>Місто Моршин, лікувально-діагностичне відділення, Вул. С.Бандери,9. Корпус 1, 2й поверх. Кабінет 2.</dd>
                    <dt>Графік роботи:</dt>
                    <dd>9.00 - 18.00</dd>
                </dl>

                <p class="location-actions-wrapper icon-location">
                    <a class="find-on-map"
                       data-latitude="49.15117"
                       data-longitude="23.867588"
                       data-targetname="Санаторій Перлина Прикарпаття"
                       href="#">
                        Знайти на карті
                    </a>
                </p>

                <p class="location-actions-wrapper icon-images">
                    <a class="view-photos" href="/uk/photos.html?dirname=carpathian_pearl">Фото</a>
                </p>
            </li>

            <li class="clearfix animation-ready" data-animation-name="bounceIn">
                <figure>
                    <img src="/media/medical_diagnostic/1.jpg" alt="Лікувально-діагностичний центр" width="230" height="180">
                </figure>

                <h2 class="location-title">Лікувально-діагностичний центр</h2>
                <dl>
                    <dt>Адреса:</dt>
                    <dd>Місто Моршин, вул. Степана Бандери,4. 5 поверх. Кабінет 512.</dd>
                    <dt>Графік роботи:</dt>
                    <dd>9.00 - 18.00</dd>
                </dl>

                <p class="location-actions-wrapper icon-location">
                    <a class="find-on-map"
                       data-latitude="49.151798"
                       data-longitude="23.870553"
                       data-targetname="Лікувально-діагностичний центр"
                       href="#">
                        Знайти на карті
                    </a>
                </p>

                <p class="location-actions-wrapper icon-images">
                    <a class="view-photos" href="/uk/photos.html?dirname=medical_diagnostic">Фото</a>
                </p>
            </li>

        </ul>

    </div>

</section><!-- /end #page-location -->