<nav>
    <a id="menu-btn" class="menu-button" href="#nav">
        <span class="icon-menu"></span>
        Меню
    </a>

    <ul <? if (isset($iconsNavigation)): echo 'class="icons-navigation"'; endif; ?>>
        <li>
            <a href="/uk/index.html" data-target="page-index">
                <span class="i-home"></span> Головна
            </a>
        </li>
        <li>
            <a href="/uk/location.html" data-target="page-location">
                <span class="i-compass"></span> Де ми?
            </a>
        </li>
        <li>
            <a href="/uk/about.html" data-target="page-about">
                <span class="i-info-circle"></span> Про нас
            </a>
        </li>
    </ul>
</nav>